*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.btn {
    padding: 16px;
    width: 250px;
    align-self: center;
    margin-top: 8px;
    border-radius: 8px;
    background-color: #f1a470;
    font-weight: 700;
    border: 2px solid black;
    box-shadow: 0 8px 8px -4px black;

}

.container{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 16px;
    padding: 16px;
    justify-content: center;
    align-items: center;
}

.square {
    display: flex;
    background-color: lightblue;
    max-width: 100px;
    text-align: center;
}



.square:hover {
    background-color: #f1a470;
    transform:translateY(-10px);
}