*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 16px;
    padding: 16px;
    justify-content: center;
    align-items: center;
}

.square {
    display: flex;
    background-color: #7aecd4;
    width: 100px;
}



.square:hover {
    background-color: rgb(241, 172, 82);
    transform:translateY(-10px);
}